:root {
  --first-color: #c52429;
  --second-color: #b72224;
  --third-color: #f9a61a;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, tahoma;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
header {
  min-height: 100vh;
  background: white;
  background: url(../images/hero++.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.menu {
  height: 80px;
  /* background: rgba(26, 26, 26, 0.452); */
  /* background-image: linear-gradient(to left top, #f9a61a, #f18719, #e5691e, #d74924, #c52429); */
  /* opacity: 0.01; */
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease;
  align-items: center;
  /* box-shadow: 0 0 5px #aaa; */
}
.menu .logo {
  overflow: hidden;
  height: 78.39px;
  position: relative;
}
.menu .logo img {
  width: 170px;
  /* display: block; */
}
.menu .logo img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.menu nav {
  width: 50%;
  transition: all 0.4s ease !important;
}
.menu nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.menu .bars {
  height: 30px;
  width: 40px;
  transform: rotate(180deg);
  display: none;
  cursor: pointer;
}
.menu .line {
  height: 4px;
  width: 100%;
  background: #444;
  border-radius: 20px;
  margin: 5px 0;
  transition: all 0.4s ease;
}
.menu .bars .line:nth-of-type(2) {
  width: 80%;
}
.menu div.cross .line:nth-of-type(2) {
  opacity: 0;
}
.menu div.cross .line:nth-of-type(1) {
  transform: rotate(45deg) translate(2px, 9px);
}
.menu div.cross .line:nth-of-type(3) {
  transform: rotate(-45deg) translate(4px, -11px);
}
.menu a:hover {
  text-decoration: underline;
  /* color: orange; */
}
.hero {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  line-height: 1.8;
  font-family: poppins !important;
}
.hero article {
  width: 60%;
  padding-left: 20px;
  border-left: 4px solid #aaa;
}
.hero h1 {
  font-size: 30px;
}
.hero p {
  color: #aaa;
}
.card-item {
  background: #aaa;
  width: 100%;
  height: 90vh;
  position: relative;
}
.card-item article {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 150%;
  color: white;
}
.owl-prev,
.owl-next {
  color: white !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  font-size: 60px !important;
}
.owl-prev {
  left: 20px;
  transition: all 0.3s ease;
}
.owl-next {
  right: 20px;
  transition: all 0.3s ease;
}
.owl-prev:hover {
  left: 10px;
  color: orange !important;
}
.owl-next:hover {
  right: 10px;
  color: orange !important;
}
.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.owl-dots .active span {
  background: orange !important;
}
.owl-theme .owl-controls {
  margin-top: 0;
}
.card-item img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.footer {
  display: flex;
  /* flex-direction: row; */
  flex-flow: wrap;
  justify-content: space-around;
  /* background: linear-gradient(-45deg, #eb511e, #f9a61a); */
  /* background: black; */
  background: url("../images/footer.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: left;
}
.contctUs {
  width: 40%;
  padding: 30px;
  margin: 20px;
}
.footer h3 {
  margin: 20px auto;
  color: orange;
}
/* .contctUs h3:hover {
  color: orange;
} */
.contctUs li {
  list-style: none;
  padding: 7px;
}
.contctUs li:hover {
  color: orange;
}
.email {
  width: 50%;
  padding: 30px;
  margin: 20px;
}
.email h3:hover {
  color: orange;
}
.email input,
.email textarea,
.email select {
  height: 40px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #aaa;
  padding: 0 10px;
  border-radius: 5px;
}
.email > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
}
.email textarea {
  padding: 10px;
  height: 150px;
  resize: none;
  width: 100%;
}
.email button {
  display: inline-block;
  padding: 10px 30px;
  background: orange;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.email button:hover {
  transform: scale(0.96);
}
/* starting about section */
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.child {
  width: 600px;
  margin: 30px;
  padding: 20px;
}
.about {
  width: 100%;
  background-color: #eee;
  color: #000;
}
.about p {
  color: #555;
  margin-top: 20px;
  line-height: 1.7;
}

.about img {
  width: 100%;
}
/* ending about section */
/* starting featurs section */
.child2 {
  width: 200px;
  margin: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  text-align: center;
  color: #eee;
  padding: 10px;
  padding-top: 20px;
  transition: all 0.6s ease;
}
.featurs svg {
  font-size: 55px;
  color: #eee;
  padding-bottom: 10px;
}
/* .child2:hover { */
/* border: 1px solid orange; */
/* background: orange; */
/* color: orange; */
/* } */
.child2:hover svg {
  color: orange;
}
.featurs {
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(189, 36, 39, 1) 0%,
    rgba(132, 30, 26, 1) 100%
  );
  color: #eee;
  padding: 30px;
}

.featurs h1 {
  text-align: center;
  color: orange;
}
/* .featurs h1:hover {
  color: orange;
} */

/* .featurs li {
    font-size: 55px;
    color: #eee;
    padding-bottom: 10px;
} */
/* ending featurs section */
/* start services section */
#services {
  background: #eee;
  /* background: #eee; */
  background-image: url("../images/bg-cars.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#services h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 50px 0 20px;
}

/* #services h2:hover {
  color: orange;
} */

.model {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 50%; */
  width: 40%;
  box-shadow: 0 0 10px rgba(22, 22, 22, 0.247);
  padding: 20px;
  background: white;
  color: black;
  text-align: center;
  z-index: 10000000;
  border-radius: 3px;
  display: none;
}
.model header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
.model article {
  text-align: left;
  border-left: 3px solid #f9a61a;
  padding-left: 20px;
  color: #444;
  line-height: 1.8;
}
.model svg {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.model svg:hover {
  color: #f9a61a;
}
.grid-2 {
  width: 80%;
  padding: 50px 0;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.scene {
  /* width: 200px;
  height: 260px;
  border: 1px solid #ccc;
  margin: 40px 0;
  perspective: 600px; */
  height: 350px;
  perspective: 1000px;
}
.child2:hover {
  /* border: 1px solid orange; */
  /* background: orange; */
  box-shadow: 2px 3px 5px #52525271;
  transform: translateY(10px);
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.6s linear;
  box-shadow: 0 0 5px #aaa;
  border-bottom: 4px solid #f9a61a;
  position: relative;
  background: #fff;
  cursor: pointer;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
  transform: rotateY(0);
}
.card__face img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card__face--front {
  background: white;
  color: black;
  /* position: relative; */
}
.card__face--front::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 250px;
  left: 0;
  background: #ccc;
}
.card__face--front::after {
  content: "\f1b9";
  position: absolute;
  font-family: fontawesome;
  font-size: 25px;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f9a61a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__face--front h3 {
  margin-top: 30px;
}

.card__face--back {
  transform: rotateY(180deg);
  padding: 20px;
  text-align: left;
  font-size: 90%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card p {
  font-weight: 200;
  line-height: 1.7;
}
/* .card__face--front:hover::after,
.card__face--front:hover::before {
  top: -20px;
}
.card__face--front:hover h3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
} */
/* .service-card {
  box-shadow: 0 0 5px #aaa;
  border-bottom: 4px solid #f9a61a;
  position: relative;
  background: #fff;
  cursor: pointer;
}
.service-card::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 170px;
  left: 0;
  background: #ccc;
}
.service-card::after {
  content: "01";
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f9a61a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-card .front {
  padding-bottom: 30px;
  transform: rotateY(0);
}
.service-card img {
  width: 100%;
  height: 170px;
}
.service-card h3 {
  text-align: center;
  margin-top: 40px;
}
.service-card article {
  padding: 20px;
  text-align: center;
  font-size: 90%;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.service-card p {
  margin: 10px auto;
  color: #666;
}
.service-card:hover .front {
  transform: perspective(1000px) rotateY(90deg);
}
.service-card:hover .back {
  opacity: 1;
  transform: rotateY(0deg);
} */
/* .image {
  height: 400px;
  background: #555;
  position: relative;
  color: white;
  overflow: hidden;
}
.image:nth-last-of-type(2) {
  background: #444;
}
.image:nth-last-of-type(3) {
  background: #333;
}
.image:nth-last-of-type(4) {
  background: #222;
}
.image article {
  position: absolute;
  top: 150%;
  height: 100%;
  width: 100%;
  transition: top 0.7s ease;
  background: rgba(188, 120, 60, 0.47);
  padding: 20px;
  border-radius: 5px;
} */
/* .image article h3 {
  font-size: 30px;
}
.image article p {
  font-size: 15px;
  margin: 10px auto;
}
.image:hover article {
  top: 0%;
}
.image:nth-of-type(1) {
  background: url("https://www.abacoadvisers.com/sites/default/files/styles/news_main/public/nodes/images/renting-car-spain.jpg?itok=PfpIJyKo");
  background-size: cover;
  background-position: center;
}
.image:nth-of-type(2) {
  background: url("https://www.theselfemployed.com/wp-content/uploads/2016/09/car-insurance.jpg");
  background-size: cover;
  background-position: center;
}
.image:nth-of-type(3) {
  background: url("https://blg.imgix.net/https%3A%2F%2Fwww.blg-logistics.com%2Fdam%2Fjcr%3Aa8b8e738-2800-4fe6-875c-32a112359801%2Fautomobiletransport_porsche.jpg?auto=format%2Ccompress&ixlib=java-1.1.1&w=1920&s=44f2874376d29437c0b4a3a702cf6dfb");
  background-size: cover;
  background-position: center;
}
.image:nth-of-type(4) {
  background: url("https://lavipcarservice.com/wp-content/uploads/2018/11/why-Corporate-Accounts-Business-Travel-With-Luxury-Cars-Service.jpg");
  background-size: cover;
  background-position: center;
} */
.menu.fixed-menu a {
  color: black;
}
.menu.fixed-menu .logo img:nth-of-type(1) {
  transform: translateY(-100%);
  object-fit: cover;
  object-position: center;
}
.menu.fixed-menu .logo img:nth-of-type(2) {
  display: block;
  /* left: 50%; */
}
.menu.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px #333;
  height: 90px;
  z-index: 999999999;
  /* background: #040b0b; */
  background: #fff;
  color: #000;
}
@media screen and (max-width: 950px) {
  .menu nav {
    position: absolute;
    top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    background: #fff;
    z-index: 10000;
    overflow: hidden;
    border-top: 1px solid #aaa;
  }
  .menu nav ul {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .menu nav li {
    text-align: center;
    position: relative;
    width: 100%;
  }
  .menu nav li::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.068);
  }
  .menu .bars {
    display: block;
  }
  .menu nav {
    right: -100%;
  }
}

@media screen and (max-width: 820px) {
  .footer {
    text-align: center;
  }
  .email,
  .contctUs {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.menu nav.open-nav {
  right: 0;
}
@media screen and (max-width: 600px) {
  .model {
    width: 90%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(0);
  }
}
